/* h2{

    text-transform: capitalize;
    text-shadow: .5px .5px 0px rgb(228, 61, 5),1.2px 1.2px 0px rgb(0, 157, 255),1.9px 1.9px 0px rgb(60, 1, 179) ;
    text-shadow: 1px 1px 1px bred ;

} */

/* p{
    

    text-align: center;
}
.one{

    text-transform: uppercase;
}

.two{

    text-transform: capitalize;
}

.three{

    text-transform: lowercase;
} */

div{

    width: 400px;
    background-color: rgb(174, 174, 174);
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}